{% load static %}
<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="zxx">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CRUD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=" {% static 'css/home/bootstrap.min.css' %} ">
        <link rel="stylesheet" href="{% static 'css/home/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/ticker-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/nice-select.css' %}">
    </head>
    <body style="overflow: visible;">
        <header>
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-bottom header-sticky">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-6 col-md-8 header-flex">
                                    <div class="main-menu d-none d-md-block">
                                        <nav>
                                            <ul id="navigation">    
                                                <li>
                                                    <a href="/">Baş sahypa</a>
                                                </li>
                                                <li>
                                                    <a href="{% block category %} {% endblock category %}">{% block text %}{% endblock text %}</a>
                                                </li>
                                                
                                                  
                                                
                                              
                                                {% if messages %}
                                                <li>
                                                    {% for message in messages %}
                                                    {{ message }}
                                                    {% endfor %}
                                                </li>
                                                {% endif %}
                                                {% if user.is_authenticated %}
                                                {{ user }}                                                
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <form action="{% url 'my_app:home' %}" method="POST">{% csrf_token %}
                                        <input type="text" name="q" placeholder="Blog gozle" id="">
                                     </form>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-4">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        {% if user.is_authenticated %}
                                        <a class="btn-link" href="{% url 'account:logout' %}">Hasapdan çykmak</a>
                                        {% else %}
                                        <a class="btn-link" href="{% url 'account:login' %}">Giriş</a>|
                                        <a class="btn-link" href="{% url 'account:register' %}">Registrasiýa</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br>
        {% block content %}
          
        {% endblock content %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    </body>
    </html>