{% extends 'base.html' %}
{% block content %}
{% block category %}
<li>
    <a href="{% url 'my_app:create_category' %}">Create Category</a>
</li>
{% endblock category %}
<main>
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-bottom">
                <div class="row">
                    {% for categori in categories %}
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                {% if categori.file.name|slice:"-1:" == 'g' %}
                                <img style="width: 240px; height: 160px;"  src="{{ categori.file.url }}" alt="">    
                                {% endif %}
                            </div>
                            {% if user.is_authenticated and user == categori.user%}
                            <a style="color: red;" href="{% url 'my_app:delete_category' categori.id %}"><small>Poz</small></a> | 
                            <a style="color:green" href="{% url 'my_app:update_category' categori.id %}"><small>Uytget</small></a>
                            {% endif %}
                            <div class="trend-bottom-cap">
                                <span class="color1">{{ categori.name }}</span>
                                <h4>
                                    <a href="{% url 'my_app:blog_list' categori.id %}">
                                        {{ categori.title }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}